container/**/*.env
container/**/*.compose_env
container/**/*.conf
container/**/vite.config.ts
data/**
!data/cache
!data/cache/.gitkeep
!data/database
!data/database/.gitkeep
!data/uploads
!data/uploads/.gitkeep
.env
